@import '../../utilities/_querys';

.line {
    width: 75%;
    height: 2px;
    background-color: $text-color;
    margin: 1.5rem auto;
    
    @include md {
        display: block;
        min-height: 25rem;
        width: 2px;
    }
}