@import '../../utilities/_querys';

.presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 93%;
    object-fit: cover;
    max-width: 80rem;

    margin: 0 auto;
    z-index: 2;

    @include md {
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 8rem;
    }

    img {
        width: 91%;
        max-width: 29.8rem;
        margin-top: 4.12rem;

        @include md {
            width: 39%;
            margin-top: 1.12rem;
        }
    }

    &__text {
        padding: 2rem;
        max-width: 33.8rem;

        @include md {
            padding: 2.5rem;
        }
    }

    .card {
        z-index: 1;
    }
}

.skills {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 93%;
    margin: auto;
    margin-top: 5rem;
    text-align: left;

    @include md {
        row-gap: 2rem;
        column-gap: 1.4rem;
    }

    &__skill {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: 1.5rem;
        padding: 1.4rem;
        width: 18rem;
        height: 15rem;

        img {
            width: 60%;
            height: 100%;
        }
    }
    &__title-section {
        width: 100%;

        @include md {
            padding-left: 8rem;
        }
    }
    &__title {
        font-size: 1.5rem;
    }

    &__cta {
        display: flex;
        margin: 1.5rem auto;
        width: 100%;
        justify-content: center;

        @include md {
            padding-right: 15.4rem;
            justify-content: flex-end;
        }
    }
}